
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #timer {
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 2px 2px #f8a5c2;
    color: #463bc5;
    width: 600px;
    text-align: center;
    margin: 40px auto;
  }
  
  #buttons {
    display: flex;
    justify-content: center;
  }
  
  button {
    background-color: #7c2fca;
    color: white;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 4rem;
    margin: 1rem;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
  }
  
  button:hover {
    background-color: #f44583;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
footer{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}